.pagebg{ 
  position:fixed;
  top:0px; 
  bottom:0px;
  left:0px;
  right:0px;
//  z-index:-10;
  display:none;
}
.pagebg.quote{ 
//  z-index:-5;
}
.pagebg.appear{ 
}
#onreport-home .pagebg {
  background: url("../img/jamrock-hope-lg.jpg") no-repeat;
  background-color: #4298bb; 
  background-size:cover;
  background-position: center;
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/jamrock-hope-lg.jpg', sizingMethod='scale')";  
}
#onreport-intro-letter .pagebg {
  background: url("../img/jamrock-working-lg.jpg") no-repeat;
  background-color: #4298bb; 
  background-size:cover;
  background-position: right;
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/jamrock-working-lg.jpg', sizingMethod='scale')";  
}
#onreport-intro-values .pagebg {
  background: url("../img/values-bg.jpg") no-repeat;
  background-color: #4298bb; 
  background-size:cover;
  background-position:center;
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/values-cfmc-lg.jpg', sizingMethod='scale')";  
}
#onreport-intro-began .pagebg {
  background: url("../img/international_header.jpg") no-repeat;
  background-color: #4298bb; 
  background-size:cover;
  background-position:center;
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/international_header.jpg', sizingMethod='scale')";  
}
#onreport-partners-cftc .pagebg {
  background: url("../img/cftc-bg-image-lg.jpg") no-repeat;
  background-color: #4298bb; 
  background-size:cover;
  background-position:left;
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/cftc-bg-image-lg.jpg', sizingMethod='scale')";  
}
#onreport-partners-cfmc .pagebg {
  background: url("../img/cfmc-bg-image-lg.jpg") no-repeat;
  background-color: #4298bb; 
  background-size:cover;
  background-position:center;
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/cfmc-bg-image-lg.jpg', sizingMethod='scale')";  
}
#onreport-partners-cfg .pagebg {
  background: url("../img/cfg-bg-image-lg-01.png") no-repeat;
  background-color: #4298bb; 
  background-size: cover;
  background-position:right bottom;
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/cfg-bg-image-lg-01.png', sizingMethod='scale')";  
}
#onreport-brigade .pagebg {
  background: url("../img/brigade-bg-lg.jpg") no-repeat;
  background-color: #4298bb; 
  background-size:cover;
  background-position: center;
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/brigade-bg-lg.jpg', sizingMethod='scale')";  
}
#onreport-next .pagebg {
  background: url("../img/next-bg-image-lg.jpg") no-repeat;
  background-color: #4298bb; 
  background-size:cover;
  background-position: center;
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/next-bg-image-lg.jpg', sizingMethod='scale')";  
}
.onreport .pagebg {
   @media screen and (max-width: 480px) {
     background-image: none !important; // removes background image for small screens
     background-color: #4298bb;
   }
}   
.pagebg img{ 
  min-width:100%;
  min-height:100%;
}